@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Reportes";
    Layout = "_Layout";
}
<script src="~/js/reports.js"></script>

<h1 class="mb-3">Reportes</h1>

<div>
    <button class="btn btn-info" id="btnLoadReport">Cargar reporte</button>
</div>