@model IEnumerable<Clinica.Models.Appointments>
<script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>

@{
    ViewData["Title"] = "Index";
}

<h1 class="mb-3">Resumen de pacientes</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Cantidad de citas atendidas
            </th>
            <th>
                Total de ingresos
            </th>
        </tr>
    </thead>
    <tbody>
        @{
            var count = 0;
            decimal totalCost = 0;
        }
        @foreach (var item in Model)
        {
            count++;
            totalCost += item.Cost;
        }
        <tr>
            <td class="citasAtendidas">
                @count
            </td>
            <td class="totalIngresos">
                @totalCost
            </td>
        </tr>

    </tbody>
</table>

<table class="table">
    <thead>
        <tr>
            <th>
                Porcentaje de especialidades atendidas
            </th>
        </tr>
    </thead>
    <tbody>
        @{
            List<int> speciality = new List<int>();
            decimal totalSpeciality = 6;
        }
        @foreach (var item in Model)
        {
            bool exist = false;
            for (var i = 0; i < speciality.Count; i++)
            {
                if (speciality[i] == (item.Speciality))
                {
                    exist = true;
                }
            }
            if (exist != true)
            {
                speciality.Add(item.Speciality);
            }

        }
        @{
            var @totalResult = Decimal.Round((@speciality.Count / @totalSpeciality) * 100);
        }
        <tr>
            <td class="especialidadesAtendidas">
                @totalResult%
            </td>
        </tr>

    </tbody>
</table>
<button id="reportExport">Exportar reporte</button>

<script>
    var jsonData = "";
    const date = new Date().toISOString().slice(0, 10);
    $(document).ready(function () {
        $("#reportExport").on("click", function () {
            jsonData += "{";
            $("table tbody tr").each(function () {
                $(this).find("td").each(function () {
                    $this = $(this);
                    jsonData += '"' + $this.attr("class") + '":"' + $this.html().trim() + '",'
                });
            });
            jsonData += "}";
            downloadJsonReport(jsonData.replaceAll(',}', '}'), "Report-" + date + ".json");
        });
    });

    const downloadJsonReport = (jsonData, fileName) => {
        const downloadLink = document.createElement("a");
        const file = new Blob([jsonData.replaceAll('\\', '')], { type: 'json/plain' });
        const url = URL.createObjectURL(file);
        downloadLink.href = url;
        downloadLink.download = fileName;
        downloadLink.click();
        URL.revokeObjectURL(url);
    }

</script>