@model IEnumerable<Clinica.Models.SpecialtyRoom>

@{
    ViewData["Title"] = "Index";
}

<h1 class="mb-3">Resumen de consultorios</h1>

<p class="mb-3">
    <a asp-action="Create">Crear consultorio</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Número del consultorio
            </th>
            <th>
               Nombre de la especialidad
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.specialty)
            </td>
            <td>
                <a class="btn btn-secondary" asp-action="Edit" asp-route-id="@item.idSpecialtyRoom">Editar </a>
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.idSpecialtyRoom">Eliminar </a>
            <td>
        </tr>
    }
    </tbody>
</table>
