@model Clinica.Models.Patient

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar paciente</h1>

<h3>¿Seguro que deseas eliminar el siguiente paciente?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Cédula
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdUser)
        </dd>
        <dt class = "col-sm-2">
            Nombre
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            Teléfono
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdUser" />
        <div class="row">
            <div class="col-12 col-md-3 col-xl-2 order-md-2">
                <div class="form-group">
                    <input type="submit" value="Elimiar paciente" class="btn btn-danger btn-block" />
                </div>
            </div>
            <div class="col-12 col-md-3 col-xl-2 d-flex align-items-center order-md-1">
                <a asp-action="Index" class="btn btn-secondary btn-block">Regresar</a>
            </div>
        </div>
    </form>
</div>
