html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.imageUser {
    height: 200px;
}

.input-file {
    width: 0;
    height: 0;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.display-4 {
    display:none;
}
    .display-4 + p {
        display: none;
    }
        .form-group {
    padding-top: 10px;
    padding-bottom: 10px;
}
.btn-block {
    width:100%;
}